# Group by and Aggregating

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv(r"C:\Users\knmnl\Documents\Git repository\PandasYouTubeSeries-main\Flavors.csv")

In [22]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [46]:
(
    df
    .groupby("Base Flavor")
    .agg({
        "Flavor Rating": "mean",
        "Texture Rating": "mean",
        "Total Rating": "mean"
    })
)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [49]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [50]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [52]:
df.groupby('Base Flavor').sum(numeric_only = True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [58]:
(
    df
    .groupby('Base Flavor')
    .agg({
        'Flavor Rating': ['sum', 'mean', 'max', 'min'],
        'Texture Rating': ['sum', 'mean', 'max', 'min'],
        'Total Rating': ['sum', 'mean', 'max', 'min']
    }).round(2)
)

            Flavor Rating                 Texture Rating                  \
                      sum mean   max  min            sum  mean  max  min
Base Flavor
Chocolate            25.2  8.4   8.8  8.2           21.7  7.23  7.6  7.0
Vanilla              34.2  5.7  10.0  2.3           33.9  5.65  8.0  3.4

            Total Rating
                     sum   mean   max   min
Base Flavor
Chocolate           47.1  15.70  16.6  15.2
Vanilla             68.1  11.35  18.0   5.7

In [59]:
(
    df
    .groupby('Base Flavor')
    .agg(
        flavor_sum=("Flavor Rating", "sum"),
        flavor_mean=("Flavor Rating", "mean"),
        flavor_max=("Flavor Rating", "max"),
        flavor_min=("Flavor Rating", "min"),

        texture_sum=("Texture Rating", "sum"),
        texture_mean=("Texture Rating", "mean"),
        texture_max=("Texture Rating", "max"),
        texture_min=("Texture Rating", "min"),

        total_sum=("Total Rating", "sum"),
        total_mean=("Total Rating", "mean"),
        total_max=("Total Rating", "max"),
        total_min=("Total Rating", "min"),
    ).round(2)
)

,flavor_sum,flavor_mean,flavor_max,flavor_min,texture_sum,texture_mean,texture_max,texture_min,total_sum,total_mean,total_max,total_min
Base Flavor,,,,,,,,,,,,
Chocolate,25.2,8.4,8.8,8.2,21.7,7.23,7.6,7.0,47.1,15.70,16.6,15.2
Vanilla,34.2,5.7,10.0,2.3,33.9,5.65,8.0,3.4,68.1,11.35,18.0,5.7

In [65]:
(
    df
    .groupby(['Base Flavor', 'Liked'])
    .agg({
        'Total Rating': ['min', 'max', 'mean']
    })
    .round(2)
)

                  Total Rating
                           min   max   mean
Base Flavor Liked
Chocolate   Yes           15.2  16.6  15.70
Vanilla     No             5.7   9.7   8.07
            Yes           12.5  18.0  14.63

In [67]:
df.groupby(['Base Flavor', 'Liked']).describe()

                  Flavor Rating                                             \
                          count mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes             3.0  8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No              3.0  3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes             3.0  7.8  1.915724  6.5  6.70  6.9  8.45  10.0

                  Texture Rating            ...            Total Rating  \
                           count      mean  ...   75%  max        count
Base Flavor Liked                           ...
Chocolate   Yes              3.0  7.233333  ...  7.35  7.6          3.0
Vanilla     No               3.0  4.466667  ...  5.00  5.0          3.0
            Yes              3.0  6.833333  ...  7.25  8.0          3.0


                        mean       std   min    25%   50%    75%   max
Base Flavor Liked
Chocolate   Yes    15.700000  0.781025  15.2  15.25  15.3  15.95  16.6
Vanilla     No      8.066667  2.098412   5.7   7.25   8.8   9.25   9.7
            Yes    14.633333  2.950141  12.5  12.95  13.4  15.70  18.0

[3 rows x 24 columns]